
body {
    margin: 0;
    color: white;
    background-image: url(Image/bg-laptop.jpg);
    background-size: cover;
    font: 600 16px/18px 'Open Sans', sans-serif
}
a{
    /*color: white;*/
}

.login-box {
    width: 100%;
    
    margin: auto;
    margin-bottom: 100px;
    max-width: 525px;
    min-height: 670px;
    position: relative;
    background: url(https://images.unsplash.com/photo-1507208773393-40d9fc670acf?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1268&q=80) no-repeat center;
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, .24), 0 17px 50px 0 rgba(0, 0, 0, .19)
}

.login-snip {
    width: 100%;
    height: 125%;
    position: absolute;
    padding: 90px 70px 50px 70px;
    margin-bottom: 100px;
    background: rgba(0, 77, 77, .9)

html, body {
    height: 100%;
    background-image: url(Image/bg-xedap.jpg);
    background-size: 100%;
}

    body.my-login-page {
        background-color: #f7f9fb;
        font-size: 14px;
    }

.my-login-page .brand {
    width: 90px;
    height: 90px;
    overflow: hidden;
    border-radius: 50%;
    margin: 40px auto;
    box-shadow: 0 4px 8px rgba(0,0,0,.05);
    position: relative;
    z-index: 1;
}

    .my-login-page .brand img {
        width: 100%;
    }

.my-login-page .card-wrapper {
    width: 400px;
}

.my-login-page .card {
    border-color: transparent;
    box-shadow: 0 4px 8px rgba(0,0,0,.05);
}

    .my-login-page .card.fat {
        padding: 10px;
    }

    .my-login-page .card .card-title {
        margin-bottom: 30px;
    }

.my-login-page .form-control {
    border-width: 2.3px;
}

.my-login-page .form-group label {
    width: 100%;
}

.my-login-page .btn.btn-block {
    padding: 12px 10px;
}

.my-login-page .footer {
    margin: 40px 0;
    color: #888;
    text-align: center;
}

@media screen and (max-width: 425px) {
    .my-login-page .card-wrapper {
        width: 90%;
        margin: 0 auto;
    }
}

@media screen and (max-width: 320px) {
    .my-login-page .card.fat {
        padding: 0;
    }

        .my-login-page .card.fat .card-body {
            padding: 15px;
        }
}
.error {
    color: #d96b6b;
    margin-top: 10px;
}
