
@{ 
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirm - Xe đạp TeyVat</title>
    
</head>
<body>
    
    @Scripts.Render("~/bundles/jquery")
    <script>
        $().ready(function () {
            alert("@Html.Raw(ViewBag.rs)");
            window.location.href = "/";
        })
    </script>

</body>
</html>
