@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Liên hệ";
    ViewBag.Url = "";
}
<div class="container-fluid">
    <h1 class="mt-4">LIÊN HỆ</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
        <li class="breadcrumb-item active">Liên Hệ</li>
    </ol>
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8 text-center">
            <div class="openning"></div>
            <h2><b>LIÊN HỆ</b></h2>
            <h2>-------------</h2>
            <h2>NHÓM CÔNG NGHỆ PHẦN MỀM PAIMON</h2><br />
            <h3>Warning - Đây chỉ là đồ án môn học</h3><br />
            <h6>(Bạn quan tâm đến mã nguồn đồ án này? - Đây là link GitHub nhóm bọn mình: <a href="https://github.com/RioRichard/XedapTeyvat">Bấm vào đây</a>)</h6><br />
            <div class="Middle"></div>
            <p class="canhthanbai text-left">

                <b>THIẾT KẾ WEBSITE PAIMON - Thông tin dưới đây chỉ là hư cấu</b><br /><br />
                <b>Paimon- Chi nhánh Long tích tuyết sơn</b> <br />
                <b>Địa chỉ cửa hàng:</b>324-326 Long Tích Tuyết Sơn , MondStatd <br />
                <b>Giờ mở cửa:</b>10:00 - 20:00 (Đóng cửa các ngày Thứ Tư)<br />
                <b>Điện thoại liên hệ:</b> (84.8).XXXX.XXXX.<br />
                <b>ĐƯỜNG DÂY NÓNG:</b> 1900XXXXXXX<br />
                <img src="~/Content/imgofshop/img1.png" alt="Cửa hàng xe đạp thể thao Paimon" /><br /><br />

                <b>LIÊN HỆ THÔNG TIN SẢN PHẨM/ CHÍNH SÁCH ĐỔI TRẢ KHI MUA HÀNG ONLINE</b><br /><br />
                <b>Văn phòng:</b> 82-84 Bùi Thị Xuân, P.Bến Thành, Q.1, TP.HCM.<br />
                <b>Showroom:</b> 324-326 Long Tích Tuyết Sơn , MondStatd.<br />
                <b>Đơn vị chủ quản:</b> Công ty Cổ phần Tập Đoàn Paimon<br />
                <b>Điện thoại:</b> (84.8).XXXX.XXXX.<br />
                <b>ĐƯỜNG DÂY NÓNG:</b> 1900XXXXXXX<br />
                <b>Email:</b> info@Paimon.vn
            </p>
        </div>

    </div>
</div>