@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Chính sách đồ án";

}
<div class="container-fluid">
    <h1 class="mt-4">CHÍNH SÁCH ĐỒ ÁN</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
        <li class="breadcrumb-item active">Chính sách đồ án</li>
    </ol>
    <div class="row">
        <div class="col-2"></div>
        <div class="col-9 text-center">
            <div class="openning"></div>
            <h2><b>CHÍNH SÁCH ĐỒ ÁN</b></h2>
            <h2>-------------</h2>
            <h2>NHÓM CÔNG NGHỆ PHẦN MỀM PAIMON</h2><br />
            <h3>Warning - Đây chỉ là đồ án môn học</h3>
            <h6>(Bạn quan tâm đến mã nguồn đồ án này? - Đây là link GitHub nhóm bọn mình: <a href="https://github.com/RioRichard/XedapTeyvat">Bấm vào đây</a>)</h6><br />
            <div class="Middle"></div>
            <p class="canhthanbai text-left">

                <b>THIẾT KẾ WEBSITE PAIMON</b><br /><br />
                Đồ án được thực hiện bởi nhóm sinh viên trường  ĐH CNTT TP.HCM dùng cho mục đích học tập. <br />
                -Trương Thiên Bảo<br />
                -Phùng Ngọc Thành<br />
                -Lê Phạm Quốc Thái<br />
                -Nguyễn Mạnh Cường<br /><br />

                Đồ án vẫn còn nhiều chức năng chưa được hoàn thiện nên chỉ mang tính chất tham khảo<br /><br />

                <b>KHÔNG DÙNG ĐỒ ÁN HỌC TẬP NÀY CHO MỤC ĐÍCH THƯƠNG MẠI. </b> <br />

</div>
</div>
</div>