
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Chính sách đổi trả";
   
}
<div class="container-fluid">
    <h1 class="mt-4">CHÍNH SÁCH ĐỔI TRẢ</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
        <li class="breadcrumb-item active">Chính sách đổi trả</li>
    </ol>
    <div class="row">
        <div class="col-2"></div>
        <div class="col-9 text-center">
            <div class="openning"></div>
            <h2><b>CHÍNH SÁCH ĐỔI TRẢ</b></h2>
            <h2>-------------</h2>
            <h2>NHÓM CÔNG NGHỆ PHẦN MỀM PAIMON</h2><br />
            <h3>Warning - Đây chỉ là đồ án môn học</h3>
            <h6>(Bạn quan tâm đến mã nguồn đồ án này? - Đây là link GitHub nhóm bọn mình: <a href="https://github.com/RioRichard/XedapTeyvat">Bấm vào đây</a>)</h6><br />
            <div class="Middle"></div>
            <p class="canhthanbai text-left">

                <b>THIẾT KẾ WEBSITE PAIMON - Thông tin dưới đây chỉ là hư cấu</b><br /><br />
                Hỗ trợ đổi trả trong vòng <b>05 ngày</b> (không kể Thứ Bảy, Chủ Nhật và ngày lễ) kể từ ngày giao hàng thành công <br /> <br />
                <img src="~/Content/imgofshop/img1.png" alt="Cửa hàng xe đạp thể thao Paimon" /><br /><br />

                <b>SẢN PHẨM CÒN NGUYÊN VẸN / SẢN PHẨM BỊ LỖI BỞI NHÀ SẢN XUẤT</b><br />
                Sản phẩm đổi trả phải là sản phẩm mới, còn nguyên vẹn, theo quy định đổi trả bên dưới*. <br />- Khách hàng tự chi trả tiền phí vận chuyển sản phẩm về cửa hàng Paimon.<br />
                - Khi sản phẩm hoàn trả được chấp nhận, một mã mua hàng sẽ được gửi đến khách hàng; giá trị của mã mua hàng tương ứng với số tiền sản phẩm hoàn trả, không bao gồm tiền phí vận chuyển ban đầu.<br />
                - Sản phẩm hoàn trả không được chấp nhận sẽ được gửi trả lại dến khách, với phí vận chuyển do khách hàng tự chi trả. Khách hàng không được nhận hoàn tiền,<br />
                - Khách hàng cần trả phí giao hàng khi gửi hàng lại cho Paimon.<br /><br />

                <b>KHI SẢN PHẨM HOÀN TRẢ ĐƯỢC CHẤP NHẬN</b> <br />
                <b>1/ </b>Paimon sẽ chia sẻ phần phí giao hàng theo biểu phí mà Ride+ tính trên mỗi hóa đơn của khách hàng.<br />
                <b>2/ </b>Một mã mua hàng sẽ được gửi đến khách hàng; giá trị của mã mua hàng tương ứng với số tiền sản phẩm hoàn trả.<br /><br />

                <b>*Ghi chú:</b><br /><br />

                Quần đệm xe đạp và quần shorts cho vận động viên xe đường trường không được phép đổi trả. <br />
                Các mặt hàng đổi trả phải còn nguyên vẹn, chưa sử dụng, không được phép rửa, giặt, không bị làm hư hỏng, và phải còn nguyên vẹn tem/ nhãn sản phẩm. <br />
                Tất cả sản phẩm đổi trả phải đi kèm với bao bì trong tình trạng nguyên vẹn, và đính kèm biên lai và tất cả tài liệu gửi kèm sản phẩm ban đầu. <br />
                Nếu nhận thấy sản phẩm bị lỗi bởi nhà sản xuất, hoặc có bất kì thắc mắc nào khác khi nhận sản phẩm, quý khách vui lòng liên hệ với Paimon trong vòng 48h kể từ khi nhận hàng thành công. <br /><br />
                ...............................  <br /> <br />

                <b>Địa chỉ gửi hàng đổi trả:</b> Tòa nhà Star Hill, Block M2, Long tích tuyết sơn, đường The Chasm. <br />
                (Mở cửa từ 10:00 - 20:00 Thứ Ba đến Chủ Nhật / đóng cửa các ngày Thứ Hai )<br />
                <b>Điện thoại:</b> (08) xxxxxxxx  <br />
                <b>Email:</b> info@Paimon.vn
</div>
    </div>
</div>