
@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/_LayoutAuthen.cshtml";
}



<link href="~/Content/StyleSheet.css" rel="stylesheet" />

<div class="login-box ">
    <div class="login-snip">
        <input id="tab-1" type="radio" name="tab" class="sign-in" checked>
        <label for="tab-1" class="tab">Quên mật khẩu</label>
        <input id="tab-2" type="radio" name="tab" class="sign-up" style="display:none">
        <label for="tab-2" class="tab" style="display:none">Đăng kí</label>
        <div class="login-space">
            <form id="Forgot">
                @Html.AntiForgeryToken()
                <div class="login">
                    <div class="group">
                        <label for="email" class="label">Email của bạn</label>
                        <input id="email" type="text" class="input" placeholder="Nhập tên tài khoản của bạn" name="Email">
                    </div>
                    
                    
                    <div class="group">
                        <button class="button">Lấy lại mật khẩu</button>
                    </div>
                    <br />
                    <br />
                    <div class="hr"></div>
                    <div class="foot"> <a href="/Auth/SignAndReg">Đăng nhập hoặc đăng ký</a> </div>
                    <div class="foot"><a href="/">Về trang chủ</a></div>

                </div>
            </form>
           

        </div>
    </div>
</div>

@section scripts{

    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script>
       
        jQuery.validator.addMethod("domainEmail", function (value, element) {
            var filter = /^[a-zA-Z0-9.!#$%&'*+\/=?^_`{|}~-]+@@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])*(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)+(.)+$/.test(value);
            return this.optional(element) || filter
        });
        $("form").each(function () {

            var id = $(this).attr('id');
            console.log(id);
            $(this).validate({
                rules: {
                    
                    Email: {
                        required: true,
                        email: true,
                        domainEmail: true,
                        minlength: 10,
                        maxlength: 64,
                    }
                },
                messages: {
                    
                    Email: {
                        required: "Hãy nhập email",
                        domainEmail: "Hãy nhập đúng định dạng email",
                        email: "Hãy nhập đúng định dạng email",
                        maxlength: "Hãy nhập tối đa 64 ký tự",
                        minlength: "Hãy nhập tối thiểu 10 ký tự"
                    }
                },
                submitHandler: function (form) {
                    //console.log('/Account/' + id);
                    $.post('/Auth/' + id, $(form).serialize(), (r) => {
                        console.log(r);

                        alert(r.msg);
                        if (r.url != 'null') {
                            window.location.href = r.url
                        }


                    })
                }
            });
        })
    </script>
}