
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="container-fluid">
    <h1 class="mt-4">ĐỔI MẬT KHẨU</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="/account">Tài khoản</a></li>
        <li class="breadcrumb-item active">Đổi mật khẩu</li>
    </ol>
    <form method="post" id="changePass">
        <div class="form-group">
            <label class="small mb-1" for="inputCurrentPassword"><b>Mật Khẩu</b></label>
            <input class="form-control py-4" id="inputCurrentPassword" type="password" name="currentPass" placeholder="Nhập Mật Khẩu Hiện tại" />
        </div>
        <div class="form-group">
            <label class="small mb-1" for="inputNewPassword"><b>Mật Khẩu Mới</b></label>
            <input class="form-control py-4" id="inputNewPassword" type="password" name="newPass" placeholder="Nhập Mật Khẩu Mới" />
        </div>
        <div class="form-group">
            <label class="small mb-1" for="inputNewPassword2"><b>Nhập Lại Mật Khẩu Mới</b></label>
            <input class="form-control py-4" id="inputNewPassword2" type="password" name="reNewPass" placeholder="Nhập Lại Mật Khẩu Mới" />
        </div>

        <div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0">

            <button class="btn btn-primary">Xác nhận</button>
        </div>
    </form>
    <div class="text-danger">@ViewBag.msg</div>
</div>
@section Scripts{
    <script src="~/Scripts/jquery.validate.js"></script>
    <script>
        $().ready(function () {

            $("#changePass").validate({

                rules: {
                    currentPass: {
                        required: true,


                    },
                    newPass: {
                        required: true,
                        minlength: 6,
                        maxlength: 24,

                    },
                    reNewPass: {
                        required: true,

                        equalTo: "#inputNewPassword",
                        minlength: 6,
                        maxlength: 24,

                    },

                },
                messages: {
                    currentPass: {
                        required: "Bắt buộc nhập password cũ",


                    },
                    newPass: {
                        required: "Bắt buộc nhập password mới",
                        minlength: "Hãy nhập ít nhất 6 ký tự",
                        maxlength: "Hãy nhập ít nhất 24 ký tự",

                    },
                    reNewPass: {
                        required: "Bắt buộc nhập lại password",

                        equalTo: "Hai password phải giống nhau",
                        minlength: "Hãy nhập ít nhất 6 ký tự",
                        maxlength: "Hãy nhập ít nhất 24 ký tự",

                    },

                }
            });
        });
    </script>
}

