
@{
    ViewBag.Title = "DeletedAttribute";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}



<div>
    <main>
        <div class="container-fluid">
    <h1 class="mt-4">THUỘC TÍNH ĐÃ XÓA</h1>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item"><a href="/admin">Trang quản lí</a></li>

        <li class="breadcrumb-item active">Thuộc TínhC</li>
            </ol>

            <div class="card-body">
                <table class="table table-bordered">
                    <thead class="bg-dark" style="color:white">
                        <tr>

                            <td>Tên Thuộc Tính</td>
                            <td>Khôi Phục Thuộc Tính</td>
                            <td>Xóa vĩnh viễn</td>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model)
                        {
                        <tr>

                            <td>
                            <p><h5 class="categorye-name" style="color:black">@item.AttributeName</h5></p>
                            </td>
                            <td>
                                <div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0" style="margin-top:0px !important">
                                    <button class="btn btn-primary btn-editattribute" name="restore" attrID="@item.IDAttribute">Khôi Phục</button>
                                </div>
                            </td>
                            <td>
                                <div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0" style="margin-top:0px !important">
                                    <button class="btn btn-primary btn-editattribute" name="delete4ever" atrID="@item.IDAttribute">Xóa4EVER</button>
                                </div>
                            </td>
                        </tr>
                        }


                    </tbody>
                </table>
            </div>
        </div>
        </main>
    </div>
@section Scripts{
    <script>
        $("button[name='restore']").click(function () {
            var attrID = $(this).attr("attrID");
            $.ajax({
                type: "POST",
                url: "/admin/restoreattribute",
                data: { attrID: attrID },
                dataType: "json",

                success: function (response) {
                    if (response == false) {
                        alert("Khôi phục thuộc tính không thành công");
                    }
                    else {
                        alert("Khôi phục thuộc tính thành công.");
                        window.location.href = window.location.href;
                    }
                }
            });
        })
        $("button[name='delete4ever']").click(function () {
            var atrID = $(this).attr("atrID");
            $.ajax({
                type: "POST",
                url: "/admin/Delete4everAttribute",
                data: { atrID: atrID },
                dataType: "json",

                success: function (response) {
                    if (response == false) {
                        alert("Xóa vĩnh viễn thuộc tính không thành công");
                    }
                    else {
                        alert("Xóa vĩnh viễn thuộc tính thành công.");
                        window.location.href = window.location.href;
                    }
                }
            });
        })
    </script>
}